{
  "env": {
    "test": {
      "plugins": [
        "typecheck"
      ]
    }
  },
  "plugins": [
    "transform-flow-comments",
    "add-module-exports"
  ],
  "presets": [
    "es2015",
    "stage-0"
  ]
}
